* {
    font-family: "Roboto", sans-serif;
}

table {
    margin: 0 10px;
    width: 96%;
    border: 1px solid #afaaaa;
}

thead {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background-color: #e2e3e8;
}

.table_header {
    margin: 0;
    padding: 15px 0 0 15px;
    font-size: 25px;
}

.table_container {
    background-color: #f0f1f4;
    border-radius: 10px;
    /* padding: 50px */
}

.table_input {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #e6e6ec;
    width: 80%;
}

.table_input:focus-visible {
    outline: #4d8de4 auto 1px;
}

.plus_circle {
    font-size: 30px;
    color: #2135a9;
    position: absolute;
    top: 15px;
}

.table_input_container {
    position: relative;
}

.action_section {
    padding: 10px;
    cursor: pointer;
}

.pencil {
    color: #459567;
    font-size: 20px;
}

.trash {
    color: #d93b41;
    font-size: 20px;
}

.circle {
    font-size: 20px;
    color: #2135a9;
}

.update_icon {
    cursor: pointer;
    position: absolute;
    top: 20px;
    padding: 0 2px;
    width: 25px;
    height: 25px;
    color: #18582d;
}

.close {
    right: 47px
}

.active {
    background-color: #9aa7b2;
}